<header>
    <h1 class="main-logo"><%= link_to "Szyldy Reklamy", root_url %></h1>
    
    <div class="list-of-services">samochody, plansze, witryny, projekty</div>

    <div class="contact-info">
      <p><i class="fas fa-briefcase"></i>Poniedziałek - Piątek 8:00-16:00</p>
      <p><i class="fas fa-mobile-alt"></i>501 162 200</p>
      <p><i class="fas fa-phone-square-alt"></i>22 612 08 38</p>
      <p><i class="fas fa-envelope"></i>szyldy-reklamy@o2.pl</p>
      
    </div>

    <ul class="links">
      <li><%= link_to "o nas", o_nas_path %></li>
      <li><%= link_to "oferta", oferta_path %></li>
      <li><%= link_to "nasi klienci", nasi_klienci_path %></li>
      <li><%= link_to "realizacje", projects_path %></li>
      <li><%= link_to "kontakt", kontakt_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "wyloguj", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "zaloguj", new_user_session_path %></li>
      <% end %>
    </ul>



</header>