<p id="notice"><%= notice %></p>

<h1 class="section-header">NASZE REALIZACJE</h1>


  <div class="upload-picture">
    <% if user_signed_in? %>
      <%= link_to 'Dodaj zdjęcie', new_project_path %>
    <% end %>
  </div>
  <br>
  <div class="image">
  <% @projects.each do |project| %>
      <%= link_to (image_tag project.image, height: '300', width: '300'), project %>
      <% if user_signed_in? %>
        <%= link_to 'Edycja', edit_project_path(project) %>
        <%= link_to 'Usuń', project, method: :delete, data: { confirm: 'Napewno usunąć?' } %>
      <% end %>
  <% end %>
  </div>


<br>

