<!DOCTYPE html>
<html>
  <head>
    <title>Szyldy-Reklamy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://kit.fontawesome.com/34d1778b30.js", 'crossorigin': 'anonymous' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900&display=swap" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "partials/header" %>
      <%= yield %>
      <%# <%= render "partials/footer" %> 
    </div>
  </body>
</html>
